h1 {
  color: hsl(41, 70%, 20%)
  text-align: center;
}
h2 {
    text-align: center;
}
body {
    background-color: hsl(41, 70%, 94%);
    color: hsl(41, 70%, 20%)
}
p {
    font-size: 16px;
    text-align: center; 
}
strong {
    color: orangered
}
em {
    color: purple;
}
