h1 {
    color: hsl(41, 70%, 20%);
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    background-color: white;
  
}

h2 {
    text-align: center;
    font-size: 24px;

}

body {
    background-color: hsl(41, 70%, 94%);
    color: hsl(41, 70%, 20%)
}

p {
    font-size: 16px;
    text-align: center;
    text-decoration: underline cyan
}

strong {
    font-weight: bold;
    color: orangered
}

em {
    color: purple;
    font-style: italic;
}
